{% extends 'base.html' %}

{% block content %}
<style>
.sidenav {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 140px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 210px; /* Same width as the sidebar + left position in px */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>
<div class="sidenav">
  <a href="#about">Array</a>
  <a href="#services">Vector</a>
  <a href="#clients">Standard Template Library</a>
  <a href="#contact">Loops</a>
  <a href="#about">Basic Input/Output</a>
  <a href="#services">Decision Making</a>
  <a href="#clients">Introduction to Oops</a>
  <a href="{% url 'binarytree' %}">Binary Tree</a>
</div>

<div class="main">
<h1>C++</h1>
	{% for c in cplus %}
		{{ c.text }}
	{% endfor %}
</div> 


{% endblock %}